{% load core %}
<!-- BEGIN DOC HEADER -->
<!doctype html>
<html lang="en" class="no-js">
<head>


<meta charset="utf-8">

<!-- www.phpied.com/conditional-comments-block-downloads/ -->
<!--[if IE]><![endif]-->

<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!-- BEGIN TITLE -->
<title>Beat Boxers Mobile Form</title>

<!-- BEGIN META -->
<meta name="description" content="">
<meta name="author" content="">
<!-- END META -->

<!--  Mobile Viewport Fix
j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
device-width : Occupy full width of the screen in its current orientation
initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width
-->

<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

<!-- BEGIN FAVICON AND MOBILE TOUCH ICON IN DOMAIN ROOT -->
<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<!-- END FAVICON AND MOBILE TOUCH ICON IN DOMAIN ROOT -->

<!-- CSS: implied media="all" -->
<link rel="stylesheet" href="/site_media/css/html5-style.css">
<link rel="stylesheet" href="/site_media/css/styles.css"/>
<link rel="stylesheet" href="/site_media/css/expand.css" />
<link rel="stylesheet" href="/site_media/css/slideshow.css" type="text/css" media="screen" />


<!-- For the less-enabled mobile browsers like Opera Mini -->
<link rel="stylesheet" media="handheld" href="/site_media/css/handheld.css?v=1">

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}

</head>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

<!-- BEGIN CONTAINER -->
<div id="container">





<!-- BEGIN MAIN -->
<div id="main">
{% block main %}
{% endblock %}
</div>
<!-- END MAIN -->


    


<!-- BEGIN FOOTER -->
<footer>
{% if user.is_authenticated %}
<form method="post" action="/core/m/logout">
<input type="submit" class="btn" value="Log Out" />
</form>
{% if user.is_staff %}
<br>
<a href = "/core/m/listincidents">View incidents on my beat</a>
<br>
<a href = "/core/m/listusers">View users on my beat</a>
{% endif %}
{% else %}
this is a footer
{% endif %}


</footer>
<!-- END FOOTER -->

</div>
<!-- END CONTAINER -->

</body>
<!-- END BODY -->

</html>
<!-- END DOC -->
