{% extends base-mobile.html %}

{% block main %}
<!-- BEGIN FORM -->
<form method="post" action="">

<!-- BEGIN OPTION MENU -->
<p>
<label class="menu">What did you see?</label>
<select id="crime" name="section name">
<option value="#">Crime Type1</option>
<option value="#">Crime Type2</option>
<option value="#">Crime Type3</option>
<option value="#">Crime Type4</option>
<option value="#">Crime Type5</option>
<option value="#">Crime Type6</option>
</select>
</p>
<!-- END OPTION MENU -->

<!-- BEGIN OPTION MENU -->
<p>
<label class="menu">Where did you see it?</label>
<select id="location" name="section name">
<option value="#">Location 1</option>
<option value="#">Location 2</option>
<option value="#">Location 3</option>
<option value="#">Location 4</option>
<option value="#">Location 5</option>
<option value="#">Location 6</option>
</select>
</p>
<!-- END OPTION MENU -->

<!-- BEGIN TEXT SUBMISSION -->
<p>
<label class="text">What should we know?</label>
<textarea  class="body"/></textarea>
</p>
<!-- END TEXT SUBMISSION -->

<div class="clear"></div>

<p class="tip">Some kind of encouragement here.</p>

<input type="hidden" name="process" value="1"/>

<a href="thankyou.html">
<input type="submit" class="btn" value="Alert Coordinator" /></a>

</form>
<!-- END FORM -->
{% endblock %}