{% extends base-mobile.html %}

{% block main %}
<!-- BEGIN FORM -->
<form method="post" action="">

<!-- BEGIN USERNAME -->
<p>
<label class="text">Username</label>
<input type="text" id="headline" name="headline" class="text"/>
</p>
<!-- END USERNAME -->

<!-- BEGIN PASSWORD -->
<p>
<label class="text">Password</label>
<input type="text" id="byline" name="byline" class="text"/>
</p>
<!-- END PASSWORD -->

<!-- BEGIN USERNAME -->
<p>
<label class="text">CPD Beat</label>
<input type="text" id="headline" name="headline" class="text"/>
</p>
<!-- END USERNAME -->

<!-- BEGIN PASSWORD -->
<p>
<label class="text">Mobile Number</label>
<input type="text" id="byline" name="byline" class="text" value="+17735678958"/>
</p>
<!-- END PASSWORD -->

<div class="clear"></div>

<p class="tip">Some kind of encouragement here.</p>

<input type="hidden" name="process" value="1"/>

<a href="login.html">
<input type="submit" class="btn" value="Log In" /></a>

</form>
<!-- END FORM -->
{% endblock %}