{% extends "base-mobile.html" %}

{% block main %}
<!-- BEGIN FORM -->
<form method="post" action="">

<!-- BEGIN USERNAME -->
<p>
<label class="text">Username</label>
<input type="text" id="headline" name="headline" class="text"/>
</p>
<!-- END USERNAME -->

<!-- BEGIN PASSWORD -->
<p>
<label class="text">Password</label>
<input type="text" id="byline" name="byline" class="text"/>
</p>
<!-- END PASSWORD -->

<div class="clear"></div>

<p class="tip">Some kind of encouragement here.</p>

<input type="hidden" name="process" value="1"/>

<!-- BEGIN OPTION MENU -->
<a href="login.html">
<input type="submit" class="btn" value="Log In" /></a>

<h2>OR</h2>

<a href="register.html">
<input type="submit" class="btn" value="Register" /></a>
<!-- END OPTION MENU -->

</form>
<!-- END FORM -->
{% endblock %}