{% extends "base-mobile.html" %}

{% block main %}
<!-- BEGIN FORM -->
<form method="post" action="/core/m/login">

<!-- BEGIN USERNAME -->
<p>
<label class="text">Username</label>
<input type="text" id="username" name="username" class="text" />
</p>
<!-- END USERNAME -->

<!-- BEGIN PASSWORD -->
<p>
<label class="text">Password</label>
<input type="password" id="password" name="password" class="text" />
</p>
<!-- END PASSWORD -->

<div class="clear"></div>

<p class="tip">Some kind of encouragement here.</p>

<input type="hidden" name="process" value="1"/>

<!-- BEGIN OPTION MENU -->
<input type="submit" class="btn" value="Log In" />

<h2>OR</h2>

<a href="/core/m/register">
<input type="submit" class="btn" value="Register" /></a>
<!-- END OPTION MENU -->

</form>
<!-- END FORM -->
{% endblock %}
