<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
This site was created by <a href='shaneshifflett.com'>Shane Shifflett</a>.  Much of this code was kindly provided by <a href='http://blog.apps.chicagotribune.com/2010/02/17/hello-newsroom-a-simple-geodjango-application/'>Joe Germuska, of The Tribune Apps Team.</a>  The original version first appeared on <a href='http://news.medill.northwestern.edu/chicago/news.aspx?id=163203&terms=shane+shifflett'>Medill Reports</a>.  
</body>
</html>
